<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	<h:head>
    	<title>Sistema de Estoque</title>
    </h:head>
    <h:body bgcolor="white">
    	<h3>Departamento cadastrado</h3>
    	<h4>Nome do Departamento: #{usuarioBBean.name}</h4>
    </h:body>
</html>
