<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	<h:head>
		<title>Sistema de Estoque</title>
	</h:head>
	<h:body>
		<h3>Cadastro de Departamento</h3>
		<h:form>
			<h:inputText value="#{usuarioBBean.name}"></h:inputText>
			<h:commandButton value="cadastrar" action="#{usuarioBBean.saveDepartment}"></h:commandButton>
		</h:form>
	</h:body>
</html>
