<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
   <h:body>   
     <ui:composition>
     	<div id="topMessage">
     		<h1>
     			<h:form>
		     		#{bundle.loginWelcomeMessage}: #{userMB.user.name} | <p:commandButton value="#{bundle.logOut}" action="#{userMB.logOut}" ajax="false" style="font-size: 20px;" />
     			</h:form>
     		</h1>
     	</div>
     </ui:composition>   
   </h:body>
</html>